/**
 * Common styles for the application.
 * This file contains variables, mixins, and common styles used throughout the app.
 */
.title {
  font-family: $font-title;
  font-size: 3rem;
  color: $primary;
}
