/* 使用例 */

/*
ナビバー背景        #1E0033（ダークパープル）
ナビリンク          #DCDBFF or #00CCAA
メインボタン        #7700CC
ホバー時の色        #7A63FF or #00CCAA
サブセクション背景  #FFFFFF or rgba(255, 255, 255, 0.6)
カードの縁や枠      #7A63FF の薄め
*/
$primary: #70c;
$secondary: #7a63ff;
$success: #0ca;
$light: #dcdbff;
$dark: #1e0033;
$white: #f5f0ff;
$body-bg: #dcdbff;
$body-color: #1e0033;

$pixel-font-bold: 'PixelMPlus12Bold', sans-serif;
$pixel-font-regular: 'PixelMPlus12Regular', sans-serif;
$font-title: 'DonguriDuel', sans-serif;
$font-body: 'M PLUS 1p', sans-serif;

@font-face {
  font-family: DonguriDuel;
  src: url('@/assets/fonts/DonguriDuel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelMPlus12Bold';
  src: url('@/assets/fonts/PixelMplus12-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelMPlus12Regular';
  src: url('@/assets/fonts/PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// 全体に使う場合の基本設定
body {
  font-family: $font-body;
  background-color: $body-bg;
  color: $body-color;
  margin: 0;
  padding: 0;
}

.font-bold-pixel {
  font-family: $pixel-font-bold;
}

.font-regular-pixel {
  font-family: $pixel-font-regular;
}

.font-title {
  font-family: $font-title;
}

.font-body {
  font-family: $font-body;
}

@mixin button-style($bg-color, $text-color, $border-color) {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: $bg-color;
  color: $text-color;
  border: 3px solid $border-color;
  text-decoration: none;
  font-size: 0.75rem;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: lighten($bg-color, 10%);
    color: darken($text-color, 10%);
  }
}

@import 'bootstrap/scss/bootstrap';
